@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .clip-corners {
      clip-path: polygon(
        0% 0%, 
        calc(100% - 20px) 0%, 
        100% 20px, 
        100% 100%, 
        20px 100%, 
        0% calc(100% - 20px)
      );
    }
  }
  @font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/futura-light-bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
 /* Custom scrollbar styles */
@layer base {
  html, body {
    @apply overflow-y-auto;  /* Ensure scrollbars appear on overflow */
  }

  /* Styling for the scrollbar itself */
  ::-webkit-scrollbar {
    width: 6px; /* Reduced width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background-color: #0F0E0E; /* Set track color to gray-800 (dark gray) */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FFD700; /* Scrollbar thumb color */
    border-radius: 2px; /* Rounded corners for the scrollbar */
  }

  /* Optional: Style for mobile screens */
  @media (max-width: 768px) {
    ::-webkit-scrollbar {
      width: 6px; /* Consistent width on mobile */
    }

    ::-webkit-scrollbar-track {
      background-color: #0F0E0E;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #FFD700;
      border-radius: 2px;
    }
  }
}